#Character Salvage Configuration
#Sun Oct 08 10:23:46 GMT 2023
# include up to 3 sets of account name and password
account.1.username=your account
account.1.password=your password
account.2.username=
account.2.password=
account.3.username=
account.3.password=
# target directory for character build
character_dir=c:/data/docs/characters

